:root {
    --main-padding: 0 10vw;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.5rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
}

h4 {
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    color: #5B7CFD;
}

h5 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
}

span {
    color: #5B7CFD;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}


.button a {
    background-color: white;
    border: 1px solid white;
    white-space: nowrap;
    color: #5B7CFD;
    font-size: 1rem;
    font-weight: 500;
    padding: 1.25rem 3.5rem;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    width: 12rem;
    margin-top: 2rem;

    transition: background-color 0.3s ease;
}

.button a:hover {
    background-color: #eee;
}

.button.transparent a {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.button.transparent a:hover {
    background-color: rgba(91, 124, 253, 0.5);
}

section {
    height: 100vh;
    background: linear-gradient(40deg, #5B7CFD 0%, #6236FF 100%);
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    padding: var(--main-padding);
}

section.white {
    background: white;
    color: #333;
}

section.white2 {
    background: #F5F6F8;
    color: #333;
    height: 200vh;
    padding-top: 20vh;
    padding-bottom: 20vh;
}


section.white p {
    color: #666;
}

section.white .button a {
    background-color: transparent;
    color: #5B7CFD;
    border: 1px solid #5B7CFD;
}

section.white .button a:hover {
    background-color: #eee;
}

.columna {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
}

.col1 {
    flex-basis: 60%;
}

.col2 {
    flex-basis: 40%;
}

.navbar {
    position: absolute;
    z-index: 1;
    padding: var(--main-padding);
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo p {
    color: white;
    font-size: 1.875rem;
    font-weight: 500;
}

.logo p span {
    color: white;
    font-weight: 700;
}

.navbar .menu {
    display: flex;
    gap: 4vw;
}

.menu a {
    color: #ccc;
}


.menu a:hover {
    color: white;
}

.menu .active {
    color: white;
    font-weight: 500;
}

.navbar .button a {
    font-size: 0.875rem;
    padding: 0.75rem 1.75rem;
    width: auto;
    margin-top: 0;
}

#hero h1 {
    margin-top: 6rem;
}

#hero .columna {
    flex: 0;
}

#hero .text {
    flex-basis: 60%;
}

#hero p {
    font-size: 1.25rem;
    line-height: 2rem;
    width: 90%;
}

#hero .buttons {
    display: flex;
    gap: 1rem;
}

#hero .img {
    flex-basis: 40%;
}

img {
    max-width: 120%;
    object-fit: contain;
}

#services .col1 h2,
#services .col1 p {
    width: 80%;
}

#services .col2 {
    gap: 8vw;
}

.service-card {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


#folders {
    position: absolute;
    max-width: 40%;
    left: 0;
    bottom: 0;
}


.project-container > div {
    background-color: #bebebe;
    border: 1rem solid white;
    box-shadow: 0px 10px 20px 0px rgba(46, 51, 71, 0.08);    
    width: auto;
    height: auto;
}

.project-container > div > img {
    max-width: 100%;
    object-fit: contain;
}


.project-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem 1rem;
    grid-auto-flow: row;
    grid-template-areas:
        "project1 project3 project4 project4"
        "project2 project3 project4 project4"
        "project5 project5 project6 project7"
        "project5 project5 project8 project9";
}

.project1 {
    grid-area: project1;
}

.project2 {
    grid-area: project2;
}

.project3 {
    grid-area: project3;
}

.project4 {
    grid-area: project4;
}

.project5 {
    grid-area: project5;
}

.project6 {
    grid-area: project6;
}

.project7 {
    grid-area: project7;
}

.project8 {
    grid-area: project8;
}

.project9 {
    grid-area: project9;
}


@media screen and (max-width: 815px) {

    #hero {
        flex-direction: column;
        text-align: center;
    }

    #hero .buttons {
        justify-content: center;
    }
}