* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

section {
    height: 100vh;
    background: linear-gradient(40deg, #5B7CFD 0%, #6236FF 100%);
    color: white;
    position: relative;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

section.white {        
    background: white;
    color: #333;
}

.columna {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}